.item {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 0;
}

.labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
}

.name {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.status {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
