.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 410px;
  height: 70px;
  flex-shrink: 0;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background-color: #2e3233;
  cursor: pointer;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.active {
    background-color: #005294;
  }
}
